*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



.container{

    width: calc( 100% - 30% );
    margin: 0 auto;
    
}

.menu-icon{
    display: none;

}



.row{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header{
    position: fixed;
    width: 100%;
    background-color: rgb(236, 237, 238);
    padding: 10px;
    z-index: 9;
}



.menu ul{
display: flex;
list-style-type: none;
gap: 60px;

}

.menu a{
text-decoration-line: none;
color: #3a3845;
transition-property: color;
transition-duration: .8s;
}

.menu a:hover{
color: rgb(155, 113, 61);

}

.right-header ul{
    
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.right-header .cart{

    position: relative;
}

.right-header .cart::after{

    content: '14';
    font-size: x-small;
    position: absolute;
    background-color: red;
    top: -14px;
    right: -19px;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50% 50% 50% 0;
    display: flex;
    align-items: center;
    justify-content: center;


}


@media screen and (min-width:0) and (max-width:1000px){
    
    .menu{
        display: none;
    }
    .right-header{

    display: none;
}

.menu-icon{

    display: block;
}
}


@media screen and (min-width:0) and (max-width:450px){




    
}

.hero{

    background-image: url(./../img/Slider.png);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.items{

    margin-top: 30px;
}

.collection{
    
    display: flex;
    flex-direction: row;
    gap:30px; 
    flex-wrap:wrap;
}


.item{

    text-align: center;
    width: calc((100% - 90px)/4) ;
    position: relative;
}

.item-details{
    position:absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(201, 205, 205, 0.782);
    opacity: 0;
    transition: .9s;

}

.item:hover .item-details{
    opacity: 1;
}

.badge{

    position: absolute;
    background-color: rgb(216, 72, 72);
    z-index: 1;
    top: 10px;
    left: 10px;
    padding: 5px;
    border:1px solid;
    border-radius: 5px;
}

.items img{
margin-bottom: 10px;
width: 100%;
}

.item-details a{
text-decoration-line: none;
color: #3a3845;
}



@media screen and (min-width:0) and (max-width:920px){

.item{

    width: calc((100% - 60px)/3);
}
    
}

@media screen and (min-width:0) and (max-width:620px){

.item{
    width:calc((100% - 30px) / 2);
}
    
}

@media screen and (min-width:0) and (max-width:430px){

.item{
    width:calc(100%);
}
    
}

