*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header{
display: flex;
gap: 232.5px;
margin: 21.84px 165px;


}

.menu ul{
display: flex;
list-style-type: none;
gap: 60px;

}

.right-header ul{
    
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.items{
    display: flex;
    margin-left: 165px;
    gap: 30px;
    margin-top: 80px;
}

.item{

    text-align: center;
}

.items img{
margin-bottom: 23px;

}